//   **********   DARK THEME  **************
$header-background-image: linear-gradient(
  to right,
  rgb(63, 44, 56),
  rgb(38, 45, 59)
);

$main-background-image: rgb(255, 255, 255);

$body-background-color: rgb(27, 34, 39);

//   **************************************

// _____________  scroll indicator colors

$scroll-indicator_filling: rgba(153, 67, 95, 0.74);
$scroll-indicator_background: transparent;
// _____________________-
